<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListarAreaEstudo</servlet-name>
        <servlet-class>br.cefetmg.implicare.servlet.ListarAreaEstudo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarAreaEstudo</servlet-name>
        <servlet-class>br.cefetmg.implicare.servlet.PesquisarAreaEstudo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirUsuarioCandidato</servlet-name>
        <servlet-class>br.cefetmg.implicare.servlet.InserirUsuarioCandidato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarUsuarioCandidato</servlet-name>
        <servlet-class>br.cefetmg.implicare.servlet.AlterarUsuarioCandidato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirUsuarioCandidato</servlet-name>
        <servlet-class>br.cefetmg.implicare.servlet.ExcluirUsuarioCandidato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarUsuarioCandidato</servlet-name>
        <servlet-class>br.cefetmg.implicare.servlet.PesquisarUsuarioCandidato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirCandidatoVaga</servlet-name>
        <servlet-class>br.cefetmg.implicare.servlet.InserirCandidatoVaga</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarCandidatoVaga</servlet-name>
        <servlet-class>br.cefetmg.implicare.servlet.AlterarCandidatoVaga</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarCandidatoVaga</servlet-name>
        <servlet-class>br.cefetmg.implicare.servlet.ListarCandidatoVaga</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirCargoInteresse</servlet-name>
        <servlet-class>br.cefetmg.implicare.servlet.InserirCargoInteresse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirCargoInteresse</servlet-name>
        <servlet-class>br.cefetmg.implicare.servlet.ExcluirCargoInteresse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarCargoInteresse</servlet-name>
        <servlet-class>br.cefetmg.implicare.servlet.ListarCargoInteresse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarCargo</servlet-name>
        <servlet-class>br.cefetmg.implicare.servlet.ListarCargo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarCargoAreaEstudo</servlet-name>
        <servlet-class>br.cefetmg.implicare.servlet.ListarCargoAreaEstudo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarCargo</servlet-name>
        <servlet-class>br.cefetmg.implicare.servlet.PesquisarCargo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarCidade</servlet-name>
        <servlet-class>br.cefetmg.implicare.servlet.ListarCidade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarCidade</servlet-name>
        <servlet-class>br.cefetmg.implicare.servlet.PesquisarCidade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirUsuarioEmpresa</servlet-name>
        <servlet-class>br.cefetmg.implicare.servlet.InserirUsuarioEmpresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarUsuarioEmpresa</servlet-name>
        <servlet-class>br.cefetmg.implicare.servlet.AlterarUsuarioEmpresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirUsuarioEmpresa</servlet-name>
        <servlet-class>br.cefetmg.implicare.servlet.ExcluirUsuarioEmpresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarUsuarioEmpresa</servlet-name>
        <servlet-class>br.cefetmg.implicare.servlet.PesquisarUsuarioEmpresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarEstado</servlet-name>
        <servlet-class>br.cefetmg.implicare.servlet.ListarEstado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisarEstado</servlet-name>
        <servlet-class>br.cefetmg.implicare.servlet.PesquisarEstado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirExperienciaProfissional</servlet-name>
        <servlet-class>br.cefetmg.implicare.servlet.InserirExperienciaProfissional</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarExperienciaProfissional</servlet-name>
        <servlet-class>br.cefetmg.implicare.servlet.AlterarExperienciaProfissional</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirExperienciaProfissional</servlet-name>
        <servlet-class>br.cefetmg.implicare.servlet.ExcluirExperienciaProfissional</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarExperienciaProfissional</servlet-name>
        <servlet-class>br.cefetmg.implicare.servlet.ListarExperienciaProfissional</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirFormacaoAcademica</servlet-name>
        <servlet-class>br.cefetmg.implicare.servlet.InserirFormacaoAcademica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarFormacaoAcademica</servlet-name>
        <servlet-class>br.cefetmg.implicare.servlet.AlterarFormacaoAcademica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirFormacaoAcademica</servlet-name>
        <servlet-class>br.cefetmg.implicare.servlet.ExcluirFormacaoAcademica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarFormacaoAcademica</servlet-name>
        <servlet-class>br.cefetmg.implicare.servlet.ListarFormacaoAcademica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirTelefone</servlet-name>
        <servlet-class>br.cefetmg.implicare.servlet.InserirTelefone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarTelefone</servlet-name>
        <servlet-class>br.cefetmg.implicare.servlet.AlterarTelefone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirTelefone</servlet-name>
        <servlet-class>br.cefetmg.implicare.servlet.ExcluirTelefone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarTelefone</servlet-name>
        <servlet-class>br.cefetmg.implicare.servlet.ListarTelefone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>br.cefetmg.implicare.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirVaga</servlet-name>
        <servlet-class>br.cefetmg.implicare.servlet.InserirVaga</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarVaga</servlet-name>
        <servlet-class>br.cefetmg.implicare.servlet.AlterarVaga</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirVaga</servlet-name>
        <servlet-class>br.cefetmg.implicare.servlet.ExcluirVaga</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarVagaEmpresa</servlet-name>
        <servlet-class>br.cefetmg.implicare.servlet.ListarVagaEmpresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarVagaCandidato</servlet-name>
        <servlet-class>br.cefetmg.implicare.servlet.ListarVagaCandidato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUtil</servlet-name>
        <servlet-class>br.cefetmg.implicare.servlet.ServletUtil</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListarAreaEstudo</servlet-name>
        <url-pattern>/ListarAreaEstudo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarAreaEstudo</servlet-name>
        <url-pattern>/PesquisarAreaEstudo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirUsuarioCandidato</servlet-name>
        <url-pattern>/InserirUsuarioCandidato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarUsuarioCandidato</servlet-name>
        <url-pattern>/AlterarUsuarioCandidato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirUsuarioCandidato</servlet-name>
        <url-pattern>/ExcluirUsuarioCandidato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarUsuarioCandidato</servlet-name>
        <url-pattern>/PesquisarUsuarioCandidato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirCandidatoVaga</servlet-name>
        <url-pattern>/InserirCandidatoVaga</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarCandidatoVaga</servlet-name>
        <url-pattern>/AlterarCandidatoVaga</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCandidatoVaga</servlet-name>
        <url-pattern>/ListarCandidatoVaga</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirCargoInteresse</servlet-name>
        <url-pattern>/InserirCargoInteresse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirCargoInteresse</servlet-name>
        <url-pattern>/ExcluirCargoInteresse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCargoInteresse</servlet-name>
        <url-pattern>/ListarCargoInteresse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCargo</servlet-name>
        <url-pattern>/ListarCargo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCargoAreaEstudo</servlet-name>
        <url-pattern>/ListarCargoAreaEstudo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarCargo</servlet-name>
        <url-pattern>/PesquisarCargo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCidade</servlet-name>
        <url-pattern>/ListarCidade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarCidade</servlet-name>
        <url-pattern>/PesquisarCidade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirUsuarioEmpresa</servlet-name>
        <url-pattern>/InserirUsuarioEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarUsuarioEmpresa</servlet-name>
        <url-pattern>/AlterarUsuarioEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirUsuarioEmpresa</servlet-name>
        <url-pattern>/ExcluirUsuarioEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarUsuarioEmpresa</servlet-name>
        <url-pattern>/PesquisarUsuarioEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarEstado</servlet-name>
        <url-pattern>/ListarEstado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisarEstado</servlet-name>
        <url-pattern>/PesquisarEstado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirExperienciaProfissional</servlet-name>
        <url-pattern>/InserirExperienciaProfissional</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarExperienciaProfissional</servlet-name>
        <url-pattern>/AlterarExperienciaProfissional</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirExperienciaProfissional</servlet-name>
        <url-pattern>/ExcluirExperienciaProfissional</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarExperienciaProfissional</servlet-name>
        <url-pattern>/ListarExperienciaProfissional</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirFormacaoAcademica</servlet-name>
        <url-pattern>/InserirFormacaoAcademica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarFormacaoAcademica</servlet-name>
        <url-pattern>/AlterarFormacaoAcademica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirFormacaoAcademica</servlet-name>
        <url-pattern>/ExcluirFormacaoAcademica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarFormacaoAcademica</servlet-name>
        <url-pattern>/ListarFormacaoAcademica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirTelefone</servlet-name>
        <url-pattern>/InserirTelefone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarTelefone</servlet-name>
        <url-pattern>/AlterarTelefone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirTelefone</servlet-name>
        <url-pattern>/ExcluirTelefone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarTelefone</servlet-name>
        <url-pattern>/ListarTelefone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirVaga</servlet-name>
        <url-pattern>/InserirVaga</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarVaga</servlet-name>
        <url-pattern>/AlterarVaga</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirVaga</servlet-name>
        <url-pattern>/ExcluirVaga</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarVagaEmpresa</servlet-name>
        <url-pattern>/ListarVagaEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarVagaCandidato</servlet-name>
        <url-pattern>/ListarVagaCandidato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUtil</servlet-name>
        <url-pattern>/ServletUtil</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
